src/main/mule/connected-apps.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d9363b5d-06e9-4317-a5ed-60f52e994af3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="connected-appsFlow" doc:id="da1caf4f-915e-4637-8fd4-2bc7515e9c23" >
		<http:listener doc:name="Listener" doc:id="11624a49-b4ac-4949-ae43-bb05f1c503ef" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="ef30fb4b-58ec-437b-8144-3eaa2c146c24" message='#["done"]'/>
	</flow>
</mule>
